<br><br>
<h4>Buscar:</h4>
<%= text_field_tag 'name' %>
<br><br>
<h4>Nodos Disponibles:</h4>
<%= text_area_tag 'nodos', :nodos, size:"25x3" %>
<br><br>
<h4>De-en cifradora:</h4>
<%= text_field_tag 'clave' %>
<br><br>
<br><br>

<input type="button" name="encrypt" value="EN-crypt">

<input type="button" name="encrypt" value="DE-crypt">
