<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item" >
        <a class="nav-link" href="<%= root_path %>">Home</a>
      </li>
      <li class="nav-item" id="nodoH">
        <a class="nav-link" href="·#">Nodos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Premium</a>
      </li>
    </ul>
  </div>
</nav>
