<div class="marco_nodo">
  <div class="nodo">
    <h5>Nodo Principal</h5>
  </div>
  <div class="nodo">
    <h5>Nodo visitas</h5>
  </div>
  <div class="nodo">
    <h5>Nodo Register</h5>
  </div>

</div>
