<div class="unto">
  <div class="cuadra">
    <div class="ctext">
      <p>[~]Bienvenidos a Dixert! Este es el nodo Principal, donde te encontraras con toda la información compartida por usuarios registrados, visitas, y usuarios Premium. [~]
      [~]Cada usuario que se registre tendrá la posibilidad de asegurar sus párrafos escritos a travez de un asegurador de párrafos [~]
      []Esto permite que los párrafos anteriores no sean borrado por otros usuarios. En cambio las visitas solo podrán integrar una puerta que simplemente no protege nada de lo anterior.[]
      [~][~]Un Usuario Premium puede compartir información doblemente asegurado si lo desea, a la vez puede dirigir a nuevos nodos {$~1.50~} cobrando por el Acceso a su nodo  [~][~]
      [~] O también puedes encontrarte con con nodos de libre Acceso {$~~} Donde te dirige a un nodo en especifico [~]</p>
    </div>
  </div>
  <div class="cuadra">
      <%= render 'shared/navbar_tools' %>
    <div class="cuadre">
      <%= render 'shared/tools/tregisted' %>
    </div>
  </div>
</div>
